<?xml version="1.0" encoding="UTF-8"?>

<included>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_FILE_PREFIX" value="seolyu-event-message" />
    <property name="LOG_FILE" value="${LOG_FILE_PREFIX}.log"/>
    <property name="LOG_FILE_PATTERN" value="${LOG_FILE_PREFIX}.%d{yyyy-MM-dd}.%i.log.gz"/>
    <property name="ERROR_LOG_FILE" value="${LOG_FILE_PREFIX}.error.log"/>
    <property name="ERROR_LOG_FILE_PATTERN" value="${LOG_FILE_PREFIX}.%d{yyyy-MM-dd}.%i.error.log.gz"/>

    <appender name="ERROR_DAILY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>${LOGS_PATH}/${ERROR_LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/${ERROR_LOG_FILE_PATTERN}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="DAILY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/${LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/${LOG_FILE_PATTERN}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="httpclient" level="WARN"/>
</included>
