<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_PATH" value="/Users/gimjinseong/Downloads/project-logs"/>

    <include resource="logback-config.xml" />

    <logger name="kr.mainstream" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY_LOG"/>
        <appender-ref ref="ERROR_DAILY_LOG"/>
    </root>

</configuration>
